* {
    margin: 0;
    color: #322312;
}

body {
    background-color: #eae6e4;
}

header {
    position: fixed;
}

.sticky {
    width: 100%;
    top: 0;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.harmonybegin {
    padding-top: 100px;
     width: auto;
    height: auto;
}
.harmony {
    padding-top: 500px;
     width: auto;
    height: auto;
}

p {
     font-family: scrivano, serif;
    font-size: 25pt;
    font-weight: 700;
    font-style: normal;    
}
.img {
   display: block;
  margin-left: auto;
  margin-right: auto;
}

.onetext {
margin-left: 280px;}

.twotext {
    text-align: center;
}

.threetext {
    text-align: center;
    margin-bottom: 100px;
}

.fourtext {
    margin-bottom: 100px;
    text-align: center;
}
.continue {
    text-align: center;
    margin: 500px 0 500px 0;
}