* {
    margin: 0;
    color: #322312;
}

body {
    background-color: #eae6e4;
    height: 3000px;
     font-family: scrivano, serif;
    font-size: 40pt;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #322312
}

header {
    position: fixed;
}

.sticky {
    width: 100%;
    top: 0;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    padding:  25px 0;
}
.save {
    margin-top: 700px;
}
.logo {
    width: 40%;
    height: 25%;
    margin-top: 250px;
}
.textone {
    margin-bottom: 100px;
}
.texttwo {
    margin-top: 300px;
}