* {
    margin: 0;}

body {
    background-color: #eae6e4;
}

header {
    position: fixed;
}

.sticky {
    width: 100%;
    top: 0;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: scrivano, serif;
    font-size: 40pt;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding-top: 550px;
        color: #322312;

}

.icons {
    padding-top: 600px;
}

.one {
    position: relative;
}

.two {
    position: relative;
}

.three {
    position: relative;
}

.four {
    position: relative;
}

.centered {
    font-family: scrivano, serif;
    font-size: 225pt;
    font-weight: 700;
    font-style: normal;
    position: absolute;
        color: #322312;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no {
    width: 100%;
}

.ugh {
    padding-top: 500px;
    max-width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
}

.harmony {
    padding-top: 500px;
}

.four {
    max-width: 80%;
    height: auto;
    padding-left: 200px;
}

.textharmony {
    font-family: scrivano, serif;
    font-size: 25pt;
    font-weight: 700;
    font-style: normal;
    padding-left: 200px;
        color: #322312;

}

.army {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.f {
    width: 100%;
    height: auto;
    position: absolute;
    top: 7000px;
}

.attack {
    font-family: scrivano, serif;
    font-size: 25pt;
    font-weight: 700;
    font-style: normal;
        color: #322312;

}

.then {
    text-align: center;

}

.next {
    padding-top: 300px;
    color: white;
    text-align: center;
    font-family: scrivano, serif;
    font-size: 25pt;
    font-weight: 700;
    font-style: normal;
}
.block {
    margin-top: 500px;
    background-color: black;
    width: auto;
    height: 500px;   
}
